@charset "utf-8";




/* Opnening (.opening) */

.home-opening .scrollsection__btn {
	transition-delay: 0s, 0s;
	transition-duration: 0.5s, 0.5s;
}

.home-opening .archive-outer {
	transition: transform 0.5s cubic-bezier(.17,.84,.44,1) 0.25s;
}

/* Opnening Home */

.home-opening .home .bg-img {
	transform: scale(1.1);
}

.home-openingEnd .home .bg-img {
	
}

.home-opening.home-introEnd .home .bg-img {
	filter: brightness(1);
	transform: scale(1);
	transition-delay:    0s, 0s, 0.5s, 0s;
	transition-duration: 1s, 1s, 2.5s, 3s;
	transition-timing-function: ease, ease, linear, cubic-bezier(.17,.84,.44,1);
	transition-property: left, width, filter, transform;
}

/* section-index */

.section-index {
	
}

.section-index__list-outer {
	display: flex;
	align-items: flex-end;
	height: 100%;
	min-height: 100%;
}


/* section-index li */

.section-index__list {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: calc(100% - 20px);
	height: calc(100% - 50px);
	margin: 0 auto;
	background: rgb(255, 255, 255) no-repeat center;
}

.section-index__list li {
	position: relative;
	width: calc(20vw - 5px);
	height: 100%;
	padding: 10px 5px;
	box-sizing: border-box;
	overflow: hidden;
	opacity: 0;
	font-size: 1.6rem;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(.45,.05,.55,.95);
	transition-duration: 0.5s;
	pointer-events: none;
}

.home-standby .section-index__list li.-show {
	opacity: 1;
	pointer-events: auto;
}

/* section-index li a */

.section-index__list a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 0.5s ease;
	cursor: pointer;
}

.section-index__list a:before,
.section-index__list a:after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: #000;
}

.section-index__list a:before {
	opacity: 0.2;
	transition: opacity 0.5s ease;
	z-index: 10;
}
/*
.section-index__list a:after {
	background: #000 url(/assets/img/global/bg_noise.gif) repeat center center/25%;
	opacity: 0.1;
	z-index: 9;
}
*/
.section-index__list a:hover {
	opacity: 1;
}

.section-index__list a:hover:before {
	opacity: 0.4;
}

/* section-index li images */

.section-index__img-wrap {
	display: block;
	position: absolute;
	top: 10px;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(.45,.05,.55,.95), ease;
	transition-delay: inherit;
	width: calc(100% - 10px);
	height: calc(100% - 20px);
	overflow: hidden;
	background: #fff;
	pointer-events: none;
}

.home-introEnd .section-index__img-wrap {
	
}

.section-index__list img {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	
	transition: opacity 9s cubic-bezier(.9,.03,.77,1);
	transition-delay: inherit;
	opacity: 0;
	
	z-index: 1;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
}

.section-index__list img.is-selected {
	z-index: 5;
	image-rendering: auto;
	transition-timing-function: ease-out;
	opacity: 1;
}

.section-index__list a:hover img {
	opacity: 1;
}



/* section-index li title */

.section-index__ttl {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
	transition: all 0.5s ease;
	z-index: 10;
	color: #fff;
}

.home-introEnd .section-index__ttl {
	opacity: 1;
}

.section-index__list .vertical-outer {
	width: 100%;
	height: calc(100% - 20px);
	white-space: nowrap;
	margin: auto;
}

.section-index__list .vertical-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	display: inline;
	transform: translate(-50%, -50%);
}

.section-index__list .pcvertical {
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	text-align: left !important;
}

.section-index__list .pcvertical p {
	margin-left: 4em;
	letter-spacing: 0.15em !important;
}





/* ---------------------------------------------------------------------------------------------- */

@media screen and (min-width: 414px) {
	
}

@media screen and (min-width: 768px) {
	
}

@media screen and (min-width: 1024px) {
	
}

@media screen and (min-width: 1200px) {
	
	/* section-index */
	
	.section-index__list {
		width: calc(100% - 20px);
		height: calc(100% - 80px);
	}
	
	.section-index__list li {
		height: 100%;
		padding: 20px 10px;
	}
	
	.section-index__list a {
		font-size: 2.2rem;
		transition: inherit;
	}
	
	.section-index__list .font-kyokasho {
		font-weight: normal !important;
	}
	
	/*.section-index__img-wrap {
		top: 20px;
		width: calc(100% - 20px);
		height: calc(100% - 40px);
	}*/
	
	.home-introEnd .section-index__ttl {
		opacity: 1;
		color: rgb(0, 0, 0);
		transition: all 0.5s;
	}
	
	.section-index__list .vertical-outer {
		width: 100%;
		height: calc(17.5% - 20px);
		white-space: nowrap;
		margin: 0;
		padding: 0;
	}
	
	.home-introEnd .section-index__ttl {
		color: rgb(0, 0, 0) !important;
	}
	
	.section-index__list .vertical-inner {
		transform: translate(-50%, 0%);
		top: auto;
		bottom: 0;
	}
	
	.section-index__img-wrap {
		top: auto;
		bottom: 0;
		width: calc(100% - 20px);
		height: calc(75% - 40px);
	}
	
	.section-index__list a::before, .section-index__list a::after {
		background: transparent;
	}
	
	/* section-index */
	
	.home-introEnd .section-index__ttl {
		opacity: 0;
		color: #fff;
		transition: all 0.5s;
	}
	
	.section-index__list a:hover .section-index__ttl {
		opacity: 1;
	}
	
}
